# RustFS Docker image and ports
RUSTFS_IMAGE=rustfs/rustfs:latest
RUSTFS_PORT=8080
RUSTFS_METRICS_PORT=9090
RUSTFS_WEB_PORT=9001

# RustFS credentials
RUSTFS_ACCESS_KEY=myaccesskey
RUSTFS_SECRET_KEY=mysecretkey
